# Ignore virtual environments
.venv/
env/
venv/

# Bytecode
__pycache__/
*.pyc
*.pyo

# IDE stuff
.idea/

# Build artifacts
dist/
build/

# Logs
*.log
lab1/
lab2/
lab4/
lab6/
lab8/
lab9_10/
quirkle/
MovieFaceDetection/CAVA-2025-TEMA2/saved_files